{{> adminheader}}
<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"> Add Coupen Code</h4>

    <div class="row">
      <div class="col-md-12">

        <div class="card mb-4">
          
          <!-- Account -->
          <div class="card-body">
            <form action="/admin/addcoupen" method="POST">
              <div class="row">

                <div class="mb-3 col-md-6">
                  <label  class="form-label">Coupen Code :</label>
                  <input class="form-control" type="text" name="code" placeholder="NEWYEAR2024" required />
                </div>
                <div class="mb-3 col-md-6">
                  <label class="form-label">Discount (%):</label>
                  <input class="form-control" type="number" id="discount" name="discount" min="0" placeholder="10 %" required />
                </div>
                <div class="mb-3 col-md-6">
                  <label  for="lastName" class="form-label">Valid From:</label>
                  <input class="form-control" type="datetime-local" id="validFrom" name="validFrom" required>
                </div>
                <div class="mb-3 col-md-6">
                  <label  for="lastName" class="form-label">Valid Until:</label>
                  <input class="form-control" type="datetime-local" id="validUntil" name="validUntil" required>
                </div>

                <div class="mb-3 col-md-6">
                  <label  class="form-label">Min Price Range:</label>
                  <input class="form-control" type="number" id="minPriceRange" name="minPriceRange" min="100" required>
                </div>
                
                <div class="mb-3 col-md-6">
                  <label class="form-label">Max Price Range:</label>
                  <input class="form-control" type="number" id="maxPriceRange" name="maxPriceRange" required>
                </div>
                
              </div>
              <div class="mt-2">
                <button type="submit" class="btn btn-primary me-2">Add Coupen</button>
                <button type="reset" class="btn btn-outline-secondary">Cancel</button>
              </div>

            </form>
          </div>
          <!-- /Account -->
        </div>
      </div>
    </div>
  </div>
  {{> adminfooter}}