{{!-- Admin Header --}}
<link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="../assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../assets/css/demo.css" />
    <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="../assets/vendor/libs/apex-charts/apex-charts.css" />
    <script src="../assets/vendor/js/helpers.js"></script>
    <script src="../assets/js/config.js"></script>

<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->
        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
            <div class="app-brand demo">
                <a href="/admin" class="app-brand-link">
                    <span class=" demo">
                        <a href="/admin" class="d-flex align-items-center">
                            <img src="/images/lr.png" class="mt-0"
                                style="height: 35px; width: 35px; margin-right: 10px;"></a>
                        </svg>
                    </span>
                    <span class="app-brand-text demo menu-text fw-bold ms-2">Ras Shoping</span>
                </a>
                <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                    <i class="bx bx-chevron-left bx-sm align-middle"></i>
                </a>
            </div>
            <div class="menu-inner-shadow"></div>
            <ul class="menu-inner py-1">
                <!-- Dashboards -->
                <li class="menu-item active open">
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <i class="menu-icon tf-icons bx bx-store"></i>
                        <div data-i18n="Front Pages">Orders</div>
                        <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">1</div>
                    </a>
                    <ul class="menu-sub">

                        <li class="menu-item">
                            <a href="/admin/orders" class="menu-link">
                                <div data-i18n="Pricing">All Orders</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href=" https://dashboard.razorpay.com/app/payments" target="_blank" class="menu-link">
                                <div data-i18n="Payment">Payment</div>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="menu-item ">
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <i class="menu-icon tf-icons bx bx-home-circle"></i>
                        <div data-i18n="Dashboards">Users</div>
                        {{!-- <div class="badge bg-danger rounded-pill ms-auto">5</div> --}}
                    </a>
                    <ul class="menu-sub">
                        <li class="menu-item active">
                            <a href="/admin/alluser" class="menu-link">
                                <div data-i18n="Analytics">All Users</div>
                            </a>
                        </li>

                        <li class="menu-item active">
                            <a href="/admin/adduser" class="menu-link">
                                <div data-i18n="Analytics">Add Users</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="/admin/edituserview" class="menu-link">
                                <div data-i18n="eCommerce">Edit Users</div>

                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Layouts -->
                <li class="menu-item">
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <i class="menu-icon tf-icons bx bx-layout"></i>
                        <div data-i18n="Layouts">Product</div>
                    </a>

                    <ul class="menu-sub">
                        <li class="menu-item">
                            <a href="/admin/products" class="menu-link">
                                <div>All Product</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="/admin/products/add_product" class="menu-link">
                                <div>Add Product</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="/admin/products/editproductview" class="menu-link">
                                <div>Edit Product</div>
                            </a>
                        </li>

                    </ul>
                </li>
                 <li class="menu-item">
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <i class="menu-icon tf-icons bx bx-layout"></i>
                        <div data-i18n="Layouts">Coupens</div>
                    </a>
                    <ul class="menu-sub">
                        <li class="menu-item">
                            <a href="/admin/coupen" class="menu-link">
                                <div>All Coupens</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="/admin/addcoupen" class="menu-link">
                                <div>Add Coupens</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <i class="menu-icon tf-icons bx bx-layout"></i>
                        <div data-i18n="Layouts">Banners</div>
                    </a>
                    <ul class="menu-sub">
                        <li class="menu-item">
                            <a href="/admin/banners" class="menu-link">
                                <div>All Banners</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="/admin/addbanner" class="menu-link">
                                <div>Add Banners</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- Front Pages -->
                
        </aside>
        <div class="layout-page">
            <!-- Navbar -->
            <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                id="layout-navbar">
                <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                        <i class="bx bx-menu bx-sm"></i>
                    </a>
                </div>

                <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                    <!-- Search -->
                    <div class="navbar-nav align-items-center">
                        <div class="nav-item d-flex align-items-center">
                            <i class="bx bx-search fs-4 lh-0"></i>
                            <input id="search" type="text" class="form-control border-0 shadow-none ps-1 ps-sm-2"
                                placeholder="Search..." aria-label="Search..." />
                        </div>
                    </div>
                    <!-- /Search -->

                    <ul class="navbar-nav flex-row align-items-center ms-auto">
                        <!-- Place this tag where you want the button to render. -->
                        <li class="nav-item lh-1 me-3">
                            <a href="/admin/logout">Logout</a>
                        </li>

                        <!-- User -->
                        <li class="nav-item navbar-dropdown dropdown-user dropdown">
                            <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);"
                                data-bs-toggle="dropdown">
                                <div class="avatar avatar-online">
                                    <img src="/images/rasi.png" alt class="w-px-40 h-auto rounded-circle" />
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 me-3">
                                                <div class="avatar avatar-online">
                                                    <img src="/images/rasi.png" alt
                                                        class="w-px-40 h-auto rounded-circle" />
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <span class="fw-medium d-block">Rasi</span>
                                                <small class="text-muted">Admin</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="bx bx-user me-2"></i>
                                        <span class="align-middle">My Profile</span>
                                    </a>
                                </li>
                                {{!-- <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="bx bx-cog me-2"></i>
                                        <span class="align-middle">Settings</span>
                                    </a>
                                </li> --}}

                                <li>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/admin/logout">
                                        <i class="bx bx-power-off me-2"></i>
                                        <span class="align-middle">Log Out</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!--/ User -->
                    </ul>
                </div>
            </nav>