
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  
<div class="">
   <!-- header top section start -->
   <div class="container">
      <div class="header_section_top">
         <div class="row">
            <div class="col-sm-12">
               <div class="custom_menu">
                  <ul>
                     <li><a href="#">Hi Rasi </li>
                     <li><a href="#">Best Sellers</a></li>
                     <li><a href="#">Gift Ideas</a></li>
                     <li><a href="#">New Releases</a></li>
                     <li><a href="#">Today's Deals</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- header top section start -->
   <!-- logo section start -->

   <div class="container d-flex justify-content-center">
      <div class="row">
         <div class="col-sm-12">
            <div class="logo">
               <a href="" class="d-flex align-items-center">
                  <img src="images/lr.png" class="mt-0" style="height: 35px; width: 35px; margin-right: 10px;">
                  <h3 class="mt-2">Ras Shopping</h3>
               </a>
            </div>
         </div>
      </div>
   </div>
   <!-- logo section end -->
   <!-- header section start -->
   <div class="header_section">
      <div class="container">
         <div class="containt_main">
            
            <div class="main">
               <!-- Another variation with a button -->
               
            </div>

            <div class="header_box">
               <div class="lang_box ">  
                  <a href=""class="nav-link"><i class="fa-solid text-dark">{{username}}</i>
                      
                     <div class="dropdown-menu ">
                                              
                        <a href="#" class="dropdown-item">
                          
                        </a>
                     </div>
               </div>
               
               <div class="login_menu">
                  <ul>
                     <li><a href="/users/home">
                           <i class="fa fa-home text-dark mr-0"></i>
                           <span class="padding_10 mr-3"style="color: black;">Home</span></a>
                     </li>
                     
                     <li><a href="/users/logout">
                           <i class="fa-solid fa-right-from-bracket text-dark"></i></a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- header section end -->
   
</div>