<div class="footer_section ">
   <div class="container">

      <div class="footer_logo text-white"><a href=""><img src="images/lr.png"
               style="height: 55px; width: 55px; margin-right: 2px;"></a></div>
      <div class="input_bt">
         <input type="email" class="mail_bt" placeholder="Your Email" id="email" name="email">
         <span class="subscribe_bt" id="basic-addon2"><a href="#" id="subscribe">Subscribe</a></span>
      </div>
      <div class="footer_menu">
         <ul>
            <li><a href="#">Best Sellers</a></li>
            <li><a href="#">Gift Ideas</a></li>
            <li><a href="#">New Releases</a></li>
            <li><a href="#">Today's Deals</a></li>
            <li><a href="#">Customer Service</a></li>
         </ul>
      </div>
   </div>
</div>
<!-- footer section end -->
<!-- copyright section start -->
<div class="copyright_section">
   <div class="container">
      <p class="copyright_text">© 2023 All Rights Reserved and Design by <a href="https://rasikp.in">Rasi</a></p>
   </div>
</div>