<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Failed</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #f8f9fa;
        }

        .container {
            text-align: center;
        }

        h1 {
            color: #28a745;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        p {
            color: #6c757d;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Payment Failed!</h1>
        <img src="../images/success.gif" style="height: 150px;,width:150px" alt="Success GIF">
        <p>pls Repayment Order. Thank us!</p>
        <a href="/users/orders" class="btn btn-success">Go To Orders</a>
    </div>
</body>
</html>
