<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>

    <div class="form-gap" style="margin-top: 70px;"></div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <h2 class="text-center">Forgot Password?</h2>
                            <p>You can reset your password here.</p>
                            <div class="panel-body">
                                <form id="forgotPasswordForm">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i
                                                    class="glyphicon glyphicon-envelope color-blue"></i></span>
                                            <input id="email" name="email" placeholder="Email address"
                                                class="form-control" type="email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-lg btn-primary btn-block" id="sendOtpBtn">Send
                                            OTP</button>
                                    </div>
                                </form>
                                <h3 class=" mb-3" id="errorMessage" style="color: red;">{{errorMessage}}</h3>

                                <!-- OTP and Password reset form (hidden initially) -->
                                <form id="resetPasswordForm" style="display: none;">
                                    <div class="form-group">
                                        <input id="otp" name="otp" placeholder="Enter OTP" class="form-control"
                                            type="text">
                                    </div>
                                    <div class="form-group">
                                        <input id="newPassword" name="newPassword" placeholder="Enter new password"
                                            class="form-control" type="password">
                                    </div>
                                    <div class="form-group">
                                        <input id="conformPassword" name="confirmPassword"
                                            placeholder="confirm password" class="form-control" type="password">
                                    </div>

                                    <div class="form-group">
                                        <button class="btn btn-lg btn-primary btn-block" id="resetPasswordBtn">Reset
                                            Password</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var generatedOtp;
        var email;
        $(document).ready(function () {
            // Event listener for sending OTP
            $("#sendOtpBtn").click(function (e) {
                e.preventDefault();

                email = $("#email").val();

                // Perform Ajax request to send OTP to the email
                $.ajax({
                    url: '/users/send-otp', // Replace with your server-side endpoint for sending OTP
                    method: 'POST',
                    data: { email: email },
                    success: function (response) {
                        if (response.error) {
                            $("#errorMessage").text("Invalied Email ID");
                        } else {
                            // Show the OTP and password reset form
                            generatedOtp = response;
                            $("#forgotPasswordForm").hide();
                            $("#resetPasswordForm").show();
                        }
                    },
                    error: function () {
                        alert('Error sending OTP. Please try again.');
                    }
                });
            });

            // Event listener for resetting password
            $("#resetPasswordBtn").click(function (e) {
                e.preventDefault();
                var enteredOtp = $("#otp").val();
                var newPassword = $("#newPassword").val();
                console.log(enteredOtp, generatedOtp)
                // Verify entered OTP with the generated OTP
                if (enteredOtp === generatedOtp) {
                    // Perform Ajax request to reset password
                    $.ajax({
                        url: '/users/reset-password', // Replace with your server-side endpoint for resetting password
                        method: 'POST',
                        data: { newPassword: newPassword, email: email },
                        success: function (response) {
                            alert('Password reset successful!');
                            location.href='/users/login'
                        },
                        error: function () {
                            alert('Error resetting password. Please try again.');
                        }
                    });
                } else {
                    alert('Invalid OTP. Please enter the correct OTP.');
                }
            });
        });
    </script>

</body>

</html>