<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Successful</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #f8f9fa;
        }

        .container {
            text-align: center;
        }

        h1 {
            color: #28a745;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        p {
            color: #6c757d;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            background-color: #007bff;
            color: #fff;
            border: 1px solid #007bff;
            border-radius: 5px;
            cursor: pointer;
        }

        .btn-success {
            background-color: #28a745;
            border-color: #28a745;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Order Successfully Placed!</h1>
        <img src="../images/success.gif" style="height: 150px;,width:150px" alt="Success GIF">
        <p>Your order has been confirmed. Thank you for shopping with us!</p>
        <a href="/users/orders" class="btn btn-success">Go To Orders</a>
        <a href="/admin/pdfController/{{orderid}}" class="btn btn-success">Download Invoice</a>
    </div>
</body>

</html>